<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
    <a class="tgc-navbar-txt">{{myApp.appNavBarMessage}}</a>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (submit)="doLogin()">
    <ion-list>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>

      <!--
      Want to use a Username instead of an Email? Here you go:

      <ion-item>
        <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      -->

      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>

  <div padding>
    <button ion-button color="primary" block>{{ 'FORGOT_PASSWORD' | translate }}</button>

    <button (click)="toSignup()" ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}
    </button>
  </div>

</ion-content>
