<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }} ((not implemented) </ion-title>
    <a class="tgc-navbar-txt">{{myApp.appNavBarMessage}}</a>

  </ion-navbar>

</ion-header>

<ion-content padding="">

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">

      <ion-item>
        <ion-list-header>
          <h1>Options</h1>
        </ion-list-header>
      </ion-item>


      <ion-item>
        <ion-label>App or Browser link on mobile-phone homescreen (radiobutton)</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Possibility for moving images to "crap images" in dropbox)</ion-label>
        <ion-toggle formControlName="option2"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION3' | translate }}</ion-label>
        <ion-toggle formControlName="option3"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Some option</ion-label>
        <ion-input formControlName="option3"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Some option</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
        </ion-select>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings" >
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option6"></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
