<ion-header>

  <ion-navbar>
    <ion-title>{{today}}</ion-title>
    <a class="tgc-navbar-txt">{{myApp.appNavBarMessage}}</a>
  </ion-navbar>

</ion-header>

<ion-content padding>

<!-- No Images -->
  <div *ngIf="imageArrayEmpty">
    <ion-item>
      <ion-list-header>
        <h1>There are no pictures today - go take some</h1>
      </ion-list-header>
    </ion-item>
  </div>


  <!-- Images -->

  <ion-list *ngFor="let group of imageArray | groupBy:'yearTaken'">

    <ion-item>
      <ion-list-header>
        <h1>{{group.key | yearsAgo}} years ago, {{ group.key }} </h1>
      </ion-list-header>
    </ion-item>

    <ion-slides [pager]="true" [loop]="true" [zoom]="true" [slidesPerView]="1" [spaceBetween]="5" effect="slide">

        <ion-slide *ngFor="let image of group.value" >
          <img src="{{image.link}}" height="100%">
          <div class="card-title"> {{image.dateTaken}}</div>
          <div class="card-subtitle">{{image.yearTaken | yearsAgo }} years ago</div>
        </ion-slide>

    </ion-slides>

  </ion-list>

</ion-content>
