page-timecapsule-gallery {

  .card-background-page {

    ion-card {
      position: relative;
      text-align: left;
      width: 95%;
    }

    .card-title {
      position: absolute;
      top: 2%;
      font-size: 25px;
      width: 100%;
      color: #fff;
    }

    .card-subtitle {
      font-size: calc(16px + (10 - 5) * (100vw - 400px) / (800 - 400));
      position: absolute;
      top: 8%;
      width: 100%;
      color: #fff;
    }

  }

}
