
<ion-content>
  <ion-slides [autoplay]="10000" [loop]="true" [speed]="1000" effect="cube">

    <ion-slide *ngFor="let image of imageArray" >
      <img src="{{image.link}}" height="100%">
      <div class="card-title" style="font-size: 35px"> {{image.dateTaken}}</div>
      <div class="card-subtitle" style="font-size: 35px">{{image.yearTaken | yearsAgo }} years ago</div>
    </ion-slide>

  </ion-slides>
</ion-content>
