<ion-header>
  <ion-navbar>
    <ion-title>My Account</ion-title>
    <a class="tgc-navbar-txt">{{myApp.appNavBarMessage}}</a>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item-group>


  <ion-item-divider>
      <h1>My account information</h1>
  </ion-item-divider>


    <ion-item>
      <ion-label color="primary" stacked>Change User name</ion-label>
      <button class=tcg-button (click)="setNewUserName()" ion-button item-end > Save</button>
      <ion-input [(ngModel)]="newName" placeholder="{{this.user.getUserName()}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Change email</ion-label>
      <button class=tcg-button (click)="setNewEmail()" ion-button item-end > Save</button>
      <ion-input [(ngModel)]="newEmail" placeholder="{{this.user.getEmail()}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Logout</ion-label>
      <button class=tcg-button (click)="logout()" ion-button item-end > Logout </button>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Change password (not implemented)</ion-label>
      <button class=tcg-button (click)="changePassword()" ion-button item-end > Save</button>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Delete account (not implemented)</ion-label>
      <button class=tcg-button (click)="deleteUserAccount()" ion-button item-end >Delete</button>
    </ion-item>

    <br>


    <ion-item-divider>
      <h1>Dropbox information, number of images: {{numberOfImages}}</h1>
    </ion-item-divider>


    <ion-item>
      <ion-label color="primary" stacked>Remove current dropbox connection and establish a new</ion-label>
      <button class=tcg-button (click)="deleteDropboxAccount()" ion-button item-end> Remove</button>
    </ion-item>


  </ion-item-group>

</ion-content>
