<!--
  Generated template for the DropboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Dropbox</ion-title>
    <a class="tgc-navbar-txt">{{myApp.appNavBarMessage}}</a>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <ion-card>
    <ion-card-header> Dropbox authorization:</ion-card-header>
    In order to display your pictures, Timecapsule.gallery needs authorization to access dropbox. <br>
    Before granting the authorization, make sure you are logged into the correct dropbox account <br>
    <br>
    <br>Once You start authorization by pushing the button below, the following will happen: <br>
    <li>You will be redirect to dropbox</li>
    <li>If relevant, Accept the warning about "Few users of the App"</li>
    <li>Grant access for Timecapsule Gallery</li>
    <li>You will be redirected back to Timecapsule Gallery</li>
    <br>
    If you by mistake authorize the wrong dropbox account: <br>
    <li>Go the "Account" page</li>
    <li>Delete current connection</li>
    <li>Establish new connection</li>
  </ion-card>

  <ion-item>
    <ion-label color="primary" stacked>Establish new connection</ion-label>
    <button class=tcg-button (click)="setNewDropboxAccount()" ion-button item-end > Start</button>
  </ion-item>

  <ion-card>
    <ion-card-header> Disclaimer:</ion-card-header>
    <li>Timecapsule.gallery do not copy anything from you dropbox account.</li>
    <li>Only meta-data about pictures are stored.</li>
    <li>You can delete the stored meta-data as well as revoke the dropbox authorisation on the "Account" page</li>
  </ion-card>


</ion-content>
